body {
	padding-top: 70px;
	overflow-y: scroll;
}
.row, .row-fluid {
	font-size: 15px;
}
footer {
	margin: 25px 0;
	padding: 10px 0;
	border-top: 1px solid #e3e3e3;
}

a.muted {
	text-decoration: none;
}
a.muted:hover {
	color: inherit;
}
.text-justify {
	text-align: justify;
}

.dropdown-menu .divider {
	margin: 5px 2px;
}

.well-nav {
	padding: 8px 0;
}

.well-nav li a {
	padding-top: 7px;
	padding-bottom: 7px;
	margin-top: 5px;
}

.form-actions {
	border-radius: 0 0 3px 3px;
}

.btn-group, .btn-block.btn-large {
	margin-bottom: 15px;
}
